@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
    font-family: Helvetica, Georgia, sans-serif;
    background-repeat: repeat-x;
    border-bottom: red;
    text-align: left;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
    color: black;
    line-height: 1.5rem;
}
    
    
.logo {
    height: 3.5rem;
    width: auto;
    margin: left;
    background-color:#132e4c;
}

.masthead {
    height: 3.8rem;
    margin: 0;
    padding: 0;
    background-size:cover; 
    background-color: #132e4c;
    
}

.billboard {
    background-image:url(../images/backgroundwood.jpg);
    background-repeat: no-repeat;
    border: solid;
    border-bottom-color: black;
}

h1 {      
    margin: 0;
    background-image:url(..//images/americaneaglecampaign1.jpg);
    background-repeat:no-repeat;
    background-color: transparent;
    border: #17cbc0;
    padding: 23rem;
    font-weight: normal;
    font-family: Georgia, sans-serif;
    font-size: 2rem;
    text-align: right;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    background-color: rgba(243, 230, 26, .1);
    padding: 10rem 0;
}

h2{ 
    margin: 0;
    padding: 0;
    color: white;
    background-color: #061a44;
    overflow: hidden; 
    font-family: Times New Roman, Georgia, sans-serif;
    font-weight: normal;
    font-size: 2rem;
    line-height: 3rem;
}

h4 {
    margin: .5rem;
    padding: 0;
    color: Navy; 
    font-family: Georgia,sans-serif;
    font-weight: normal;
    font-size: 1.5rem;
}

q {
    color: red;
    font-size: 1.3rem;
    font-weight: bold;
}

q:before {
    content: "“";
    font-size: 2rem;
    color: #357b95;
}

q:after {
    content: "”";
    font-size: 2rem; 
    color: #357b95;
}

q2 {
    color: #3b64af
}


figcaption {
    margin: .1rem;
    padding: .2rem;
    color: gray;
    font-size: .7rem;
    text-align: right;    
}

h5 {
    color: white;
    text-align: center;
    background-color: #462505;
    overflow: hidden;
}

details {
    margin: .5rem;
    padding: 0;
    color: navy;
    font-size: .9rem;
}

article {
    margin-top: 22.6rem;
    color: black;    
}

footer {
    margin: 0;
    padding: 0;
}

footer a {
    color: #95500c;
} 



    
    
 
    
    

        
        